html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: fit-content;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(0, 22, 82), black);
  
  background-repeat: no-repeat;
  color: white; 
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
